<?xml version='1.0'?>
<launch>

	<!-- Launch joystick ROS drivers -->
	<node name="joy_arm" type="joy_node" pkg="joy" >
        <param name="dev" value="/dev/input/js0"/>
        <param name="autorepeat_rate" value="20" />
        <remap from="joy" to="joy_arm" />
        <param name="deadzone" value="0.1" />
    </node>

	<!-- Teleop node -->
	<node name="teleop_arm" pkg="zeus_arm" type="teleop_arm.py" output="screen" />
</launch>
