<?xml version='1.0'?>
<launch>

<!-- Launch robot bringup -->
<include file="$(find zeus_arm)/launch/bringup.launch" />
<include file="$(find zeus_arm)/launch/jetson.launch" /> 

<!-- Launch teleop script -->
<node name="teleop_node" pkg="zeus_arm" type="pos_teleop_real.py" output="screen" />

<!-- Launch arm node -->
<node name="arm_node" pkg="zeus_arm" type="arm_node_real.py" output="screen" />
</launch>
